/* p{
    background-color: rgb(66, 170, 111);
}

a{
    background-color: rgb(103, 216, 103);
}

span{
    background-color: blueviolet;
}

div{
    color: brown;
    background-color: burlywood;
} */

